* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}



/* For mobile phones: */


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
      width: 8.33%;
  }
  .col-2 {
      width: 16.66%;
  }
  .col-3 {
      width: 25%;
  }
  .col-4 {
      width: 33.33%;
  }
  .col-5 {
      width: 41.66%;
  }
  .col-6 {
      width: 50%;
  }
  .col-7 {
      width: 58.33%;
  }
  .col-8 {
      width: 66.66%;
  }
  .col-9 {
      width: 75%;
  }
  .col-10 {
      width: 83.33%;
  }
  .col-11 {
      width: 91.66%;
  }
  .col-12 {
      width: 100%;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 992px) and (min-width: 768px) {
  .switch-field label {
      font-size: 12px !important;
  }
  .price{
      font-size: 14px !important;
  }

}
@media (max-width: 768px) {
  .takeoff{
      display: none !important;
  }
}

@media (max-width: 576px)  {
  .bookBtn{
      display: none !important;
  }
  .price{
      display: block !important;
  }
}

@media (min-width: 576px) {
  .container {
      max-width: 560px;
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 740px;
  }

}

@media (min-width: 992px) {
  .container {
      max-width: 980px;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1180px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .col-9 {
      width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 639px) {
  .price {
    display: none !important;
  }
}

.header {
  background-color: #4d636f;
  color: #ffffff;
  padding: 15px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.header img {
  width: 50px;
  height: 50px;
}

.header-title{
  padding-left: 10px;font-weight: bold;
}

ul>li img {
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  vertical-align: middle;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


input[type=text],
input[type=date],
input[type=number],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #607d8b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Lucida Sans", sans-serif;
}

input[type=button] {
  width: 100px;
  background-color: #607d8b;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Lucida Sans", sans-serif;
}

.switch-field {
  overflow: hidden;
  padding-bottom: 10px;
  width: 100%;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked+label {
  background-color: #bbb;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

#return {
  display: none;
}

input[type=range] {
  width: 93%;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #607d8b;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

.slidebar {
  width: 100%;
  border: 1px solid #d4d4d4;
  padding: 0 0 20px 10px;
}

.card {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

.card ul>li small {
  font-size: 11px;
  font-weight: 600;
  color: #6f6f6f;
}

.card ul>li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.li-height {
  height: 50px;
  line-height: 50px;
}
.md-small{
  display: block;
  padding-left:25px;
}
.price{
      display: none;
}
/* text-decoration: none; */

